# Inherit common requirements
-r requirements-common.txt

# Force the No-AVX wheel for this specific environment
-f https://www.paddlepaddle.org.cn/whl/linux/openblas/noavx/stable.html
paddlepaddle==2.6.2
